mixin list(name, url)
  li.nav-item
    a.nav-link(
      href=url,
      class=path === url ? 'active' : ''
    )
      | #{ name }
      if path === url
        span.sr-only (current)

nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='#') Navbar
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      each item in menu
        +list(item.name, item.url)